<mat-toolbar>
    <span class="text-w">{{accountService.currentAccount.nickname}}</span>
    <span class="spacer"></span>
    <span class="text-w">
      {{accountService.currentAccount.cash |  number :'1.2-2'}}
    </span>
</mat-toolbar>

<div class="coin">
  <div class="borderext">
  </div>
  <div class="borderint">
  </div>
  <div class="number">
    $
  </div>
</div>
<h1 class="text-center text-w">{{value |  number :'1.2-2'}}X</h1>

<mat-card>
  <mat-card-content class="justify-content-center">
    <mat-form-field appearance="fill" color="accent">
      <mat-label>Montant</mat-label>
      <input matInput placeholder="10" type="number" [(ngModel)]="bet">
      <mat-icon matSuffix>euro</mat-icon>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions class="justify-content-center">
    <button *ngIf="!isStart" mat-flat-button color="primary" (click)="generateBet()" [disabled]="isCashOut">Bet</button>
    <button *ngIf="isStart" mat-flat-button color="accent" (click)="cashOut()">Cash Out</button>
  </mat-card-actions>
</mat-card>
